<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <body class="container " style="padding-top: 5%;">
            <div class="row">
                {% for x in data %}
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="{{ x.photo.url }}">
                      <img src="{{ x.photo.url }}" alt="Lights" style="width:100%">
                      <div class="caption">
                        <p>{{ x.title }}</p>
                      </div>
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
    </body>
</html>