{% extends 'demo/main.html' %}
{% load static %}
{% block content %}

    <div class="row">
        {% for x in data %}
            <div class="col-lg-4">
                <a href="{{ x.photo.url }}">
                  <img class='thumbnail' src="{{x.photo.url}}">
                  <div class="box-element product">
                    <hr>
                      <h6><strong>{{x.title}}</strong></h6>
                      
                  </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock content %}